.suggestions {
    background-color: var(--background-principal);

    h2 {
        text-align: center;
        margin: 5rem 0 0 0;
    }
}

form {
    padding: 4rem;

    .formulaire {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    input,
    textarea {
        min-height: 3rem;
        border-radius: 0.5rem;
        padding: 1rem 2rem;
    }
}

.alert {
    margin: 1rem 0;
    padding: 05rem;
}

.imageHelp,
.emailHelp {
    color: white;
}