* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;

}

html,
body {
    font-size: 1rem;
    font-family: Montserrat, Arial, Helvetica, sans-serif;

}

.container-fluid {
    background-color: var(--background-principal);

}

a {
    color: var(--text-gray-second);

    &:hover {
        text-decoration: none;
        background-color: var(--text-gray-principal);
        cursor: pointer;
        color: var(--text-gray-second);
    }

}

h1 {
    color: var(--text-gray-principal);
    font-size: 2.5rem;
    font-weight: 700;
    text-shadow: var(--text-shadow);
}

h2 {
    color: var(--white);
    font-size: 2rem;
    font-weight: 400;
}

p {
    color: var(--white);
    font-size: 1rem;
    font-weight: 300;
}

img {
    width: 40px;
    height: 40px;
}