@import "generalities";
@import "variables";
@import "media";
@import "suggestions";

// Header
.navOne {
    background-color: var(--background-principal);
    height: 100px;

    #navbarContent {
        justify-content: space-evenly;

        &:collapse {
            margin-top: 100px;
            margin-left: 400px;
            background-color: var(--background-principal);
            border-radius: 0.3rem;
            color: white;
        }
    }

}

.navTwo {

    background-color: var(--text-gray-second);
    height: 60px;

    .navbar-double {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        margin: 0.5rem;

    }
}


// FIN Header

footer {
    background-color: var(--background-principal);
    height: 60px;
}

form {
    background-color: var(--background-principal);
    height: auto;
}



.hero {
    background-color: var(--blue-sky);
    padding: 3rem 3rem;
    height: auto;

    .hero-hero {

        display: flex;
        align-items: center;
        justify-content: center;

        .hero-image {
            width: 540px;
            height: 282px;
            display: inline-block;

            @include xs {
                width: 300px;
                height: auto;
            }
        }
    }

    &.hero-compagnies {
        background-color: var(--marron-red);

    }

    &.hero-feho {
        background-color: var(--violet-dark);

    }

    &.hero-festivals {
        background-color: var(--red-dark);

    }

    &.hero-formations {
        background-color: var(--blue-violet);

    }


}

.contenus {
    background-color: var(--pink-red);
    height: auto;

    &.contenus-compagnies {
        background-color: var(--orange);

    }

    &.contenus-feho {
        background-color: var(--blue-cendre-three);

    }

    &.contenus-festivals {
        background-color: var(--orange-marron-light);

    }

    &.contenus-formations {
        background-color: var(--blue-sky);

    }
}

.card {
    box-shadow: var(--box-shadow);
    border-radius: 0.4rem;

    .card-body {

        .card-title,
        .card-text {
            color: var(--text-marron-principal);
        }
    }
}

footer {
    flex-flow: row;
    justify-content: center;
    align-items: center;

    ul {
        display: flex;
        justify-content: space-evenly;
    }

}

.fehoContenu {
    color: white;
}